<!-- author lchouvil -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="#">
        <!-- styles -->
        <link rel="stylesheet" href="/asset/css/reset.css">
        <link rel="stylesheet" href="/asset/css/error.css">
        <!-- Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;700&display=swap" rel="stylesheet">
                
        <title>
            Error-{{range .Code}}{{.}}{{end}}
        </title>
    </head>
    <body>
        <div class="error">
            <h1>{{range .Code}}<Span>{{.}}</Span>{{end}}</h1>
            <p>{{.Message}}</p>
        </div>
    </body>
</html>